@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

* { margin: 0; 
padding: 0;
box-sizing: border-box;
}

/*body {background: blue;}*/

header{
	background-color: #F8F8FF;
	border:	1px black solid;
	padding: 40px;
	font-size: 1em;
}

nav{
	background-color: #E8C66A;
	font-size: 20px;
	padding-top: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	float: right; 
}

img{display: block;
width: 100%;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 70%;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 30%;

}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* {article background-color: #E89C6C;
	height: 500px;
	background-image: url('../images/dinner_pic.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}*/

footer{background-color: #FF957E;
}

section{background-color: #FFE2BE;
}

h1 {font-family: 'Playfair Display', serif;
	font-weight: bold;
	color: #265530;
}

p {font-family: 'Roboto', sans-serif;;
}
#dinner{
	max-width: 600px;
	margin: 0 auto;
}